{% extends "basic.html" %}

{% block content %}

<h1>{{user.name}}</h1>
<h2>Groups</h2>
Add Group: <form method="POST" action="/actors/{{user.name}}/addGroup"> <input name="name"/> <input type="submit"></form>
<ul>
  {% for group in user.groups %}
  <li>
   <form method="POST" action="/actors/{{user.name}}/deleteGroup">
    <input name="name" value="{{group.name}}" type="hidden"/>
    <input value="X" type="submit" title="delete group"/>
   </form>
   <a href="/actors/{{user.name}}/group/{{group.name}}">{{group.name}}</a>
  </li>
  {% endfor %}
</ul>

<h2>Inventar</h2>
Add Item: <form method="POST" action="/actors/{{user.name}}/addItem"> <input name="name"/> <input type="submit"></form>
<ul id="userInventory">
{% for category,items in categories.items() %}
<h3 onclick="toggle('categoryList_{{category.name}}')">{{category.name}}</h3>
<ul id="categoryList_{{category.name}}">
  {% for item in items %}
  <li>
   <form method="POST" action="/actors/{{user.name}}/deleteItem">
    <input name="name" value="{{item.name}}" type="hidden"/>
    <input value="X" type="submit" title="delete item"/>
   </form>
   <a href="/actors/{{user.name}}/item/{{item.name}}">{{item.name}}</a> | <span title="amount">{{item.amount}}</span> | <span title="desirebility">{{item.desireability}}</span>
  </li>
  {% endfor %}
</ul>
{% endfor %}

<h3>no categories</h3>
<ul>
{% for item in noCategories %}
   <li>
	 <form method="POST" action="/actors/{{user.name}}/deleteItem">
	  <input name="name" value="{{item.name}}" type="hidden"/>
	  <input value="X" type="submit" title="delete item"/>
	 </form>
	 <a href="/actors/{{user.name}}/item/{{item.name}}">{{item.name}}</a> | <span title="amount">{{item.amount}}</span> | <span title="desireability">{{item.desireability}}</span>
   </li>
{% endfor %}
</ul>
</ul>

Add Item: <form method="POST" action="/actors/{{user.name}}/addItem"> <input name="name"/> <input type="submit"/></form>
<h2>compartments</h2>
Add Compartment: <form method="POST" action="/actors/{{user.name}}/addCompartment"> <input name="name"/> <input type="submit"/></form>
{% if user.compartments %}
<ul>
{% for compartmentName,items in compartments.items() %}
<li>
	<form method="POST" action="/actors/{{user.name}}/compartment/{{compartmentName}}/delete"><input value="X" type="submit"/> <a href="/actors/{{user.name}}/compartment/{{compartmentName}}">{{compartmentName}}</a></form>
	<button onclick="toggle('compartment_{{compartmentName}}')">~</button>
	<ul id="compartment_{{compartmentName}}">
	{% for item in items %}
	  <li>
	   <form method="POST" action="/actors/{{user.name}}/deleteItem">
	    <input name="name" value="{{item.name}}" type="hidden"/>
	    <input value="X" type="submit" title="delete item"/>
	   </form>
	   <a href="/actors/{{user.name}}/item/{{item.name}}">{{item.name}}</a> | <span title="amount">{{item.amount}}</span> | <span title="desireability">{{item.desireability}}</span>
          </li>
	{% endfor %}
	</ul>
</li>
{% endfor %}
</ul>
{% endif %}

<h2>Wunschliste</h2>

Add Desire: <form method="POST" action="/actors/{{user.name}}/addDesire"> <input name="name"/> <input type="submit"></form>
<ul id="userDesires">
{% for query in user.desires %}
  <li>
     <form method="POST" action="/actors/{{user.name}}/deleteDesire">
	   <input name="name" value="{{user.name}}" type="hidden"/>
	   <input value="X" type="submit" title="delete desire"/>
     </form> {{query.name}}
  </li>
{% endfor %}
</ul>
Add Desire: <form method="POST" action="/actors/{{user.name}}/addDesire"> <input name="name"/> <input type="submit"></form>

<pre>
{{ressourceText}}
</pre>

{% endblock %}
