{% extends "basic.html" %}

{% block content %}

hello! a description should be placed here. 

<h2>getting started</h2>
<p>Checkout the <a href="/explore">overview</a></p>
<p>You can also create a <a href="newActor">new user account</a> to get started.</p>

<h2>feedback</h2>
please write feature requests and report bugs to <a href="https://github.com/3DprinterStuff/RessouceSharing/issues">github</a> or write an email to printerstuff@riseup.net.

<h2>howto</h2>
The idea is to make things that are not needed but not yet thrown away available to others. Right now you only can check out the things from the test users, since the is no accout creation yet. Everything is ugly and not nearly finished, so please help by reporting bug, requesting features or contibuting code.

Since my personal need is to declutter my stuff, the priority will be on this topic until more interest appears.
{% endblock %}
