{% extends "basic.html" %}

{% block content %}

 <h1>{{item.name}}</h1>
 <a href="/actors/{{user.name}}">actor</a>
 <form action="/actors/{{user.name}}/item/{{item.name}}/edit" method="POST"/>
 <div><textarea name="description">{{item.description}}</textarea></div>
 <div><input name="desireability" value="{{item.desireability}}"></div>
 <div><input name="categories" value="{{categories}}"></div>
 <div><input name="wikidata_id" value="{{item.wikidata_id}}"></div>
 <input type="submit" value="save"/>
 </form>

{% endblock %}
